/* ============================================================================= 
                            comon-part-start
=================================================================================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
}

img{
    vertical-align: middle;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.just-start{
    justify-content: start;
}

.just-cen{
    justify-content: center;
}

.just-end{
    justify-content: end;
}

.just-bee{
    justify-content: space-between;
}

.just-even{
    justify-content: space-evenly;
}

.alin-cen{
    align-items: center;
}
/* ============================================================================= 
                            comon-part-end
=================================================================================*/


/* ============================================================================= 
                            header-part-start
=================================================================================*/
#header{
    padding: 32px 0;
    background: hsla(0, 0%, 0%, 0.44);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-menu ul li a{
    margin-left: 45px;
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

.header-menu ul li a:hover{
    color: #28b8d8;
}

.header-icon ul li a{
    margin-right: 20px;
    color: #f5f5f5;
    font-size: 12px;
}
/* ============================================================================= 
                            header-part-end
=================================================================================*/


/* ============================================================================= 
                            banner-part-srart
=================================================================================*/
.banner-img{
    padding: 330px 0 250px;
}

.banner-text{
    width: 350px;
    text-align: center;
}

.banner-text h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}

.banner-text h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 15px;
}

.banner-text p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
/* ============================================================================= 
                            banner-part-end
=================================================================================*/


/* ============================================================================= 
                            hello-part-start
=================================================================================*/
#hello{
    padding: 80px 0;
    background: #f9f9f9;
}

.hello-text{
    text-align: center;
}

.hello-text h1{
    color: #444444;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 15px;
}

.hello-text p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.hell-row2{
    margin-top: 70px;
}

.hello-col {
	width: 30.77%;
	margin-right: 30px;
}

.hello-col1:last-child{
    margin-right: 0;
}

.hell-img img{
    width: 100%;
    max-width: 100%;
    border: 15px solid #ffffff;
}

.hell-text{
    text-align: center;
    background: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
}

.hell-text h4{
    color: #444444;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 5px;
}

.hell-text p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.hello-text1{
    text-align: center;
    padding-bottom: 30px;
}
/* ============================================================================= 
                            hello-part-end
=================================================================================*/


/* ============================================================================= 
                            gall-part-start
=================================================================================*/
#gall{
    padding: 80px 0;
    background: #2c2c2c;
}

.gall-head h4{
    color: #d5d5d5;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.gall-col ul li {
	width: 19%;
}

.gall-col ul li img{
    width: 100%;
    max-width: 100%;
}

.gall-aa a{
    padding: 20px 20px;
    border: 1px solid #a6a6a6;
    margin-top: 40px;
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 400;
}
/* ============================================================================= 
                            gall-part-end
=================================================================================*/


/* ============================================================================= 
                            form-part-start
=================================================================================*/
#form{
    padding: 80px 0;
    background: #f9f9f9;
}

.form-head h3{
    color: #444444;
    font-size: 18px;
    font-weight: 700;
}

.form-img{
    margin-top: 30px;
}

.form-col {
	width: 31.62%;
	margin-right: 30px;
}

.form-col:last-child{
    margin-right: 0;
}

.form-img-2 img{
    width: 100%;
    max-width: 100%;
}

.form-text-1{
    background: #ffffff;
    padding: 25px 50px;
}

.form-text-1 h4{
    color: #444444;
    font-size: 16px;
    font-weight: 400;
}

.form-text-1 p{
    color: #999999;
    font-size: 12px;
    font-weight: 400;
}

.forom-text2{
    background: #ffffff;
    padding: 25px 25px;
}

.forom-text2 p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}


.forom-text2 a{
    color: #999999;
    font-size: 12px;font-weight: 400;
    position: relative;
}

.forom-text2 a::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    height: 1px;
    width: 100px;
    background: #28b8d8;
}

.sar-row {
    margin-top: 80px;
}

.sar-row3 h4{
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
}

.sar-col1{
    width: 570px;
}

.sar-img{
    width: 200px;
}

.sar-img img{
    width: 100%;
    max-width: 100%;
}

.sar-text{
    width: 345px;
}

.sar-text p{
    color: #666666;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

.sar-text p span{
    display: block;
    padding-top: 25px;
    font-size: 14px;
    line-height: 24px;
}

.sar-col2{
    width: 570px;
}

.sar-text2 {
    padding-bottom: 25px;
}

.sar-text2 {
    padding-left: 70px;
}

.sar-text2 h3{
    color: #444444;
    font-size: 17px;
    font-weight: 700;
    padding-bottom: 15px;
    position: relative;
}

.sar-text2 h3 i {
	position: absolute;
	color: #28b8d8;
	font-size: 35px;
	left: -70px;
}

.sar-text2 p{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}
/* ============================================================================= 
                            form-part-end
=================================================================================*/


/* ============================================================================= 
                            footer-part-start
=================================================================================*/
#foot{
    padding: 65px 0;
    background: #373737;
}

.col{
    width: 20%;
}

.foot-text h4{
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 15px;
}

.foot-text p{
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.foot-menu ul{
    padding-top: 30px;
}

.foot-menu ul li a{
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.foot-buttom{
    background: #333333;
}

.foot-buttom p{
    padding: 40px 0;
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
}
/* ============================================================================= 
                            footer-part-end
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/

/* ============================================================================= 
                            h-part
=================================================================================*/